*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f6f8;
  color: #212529;
}

.container{
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;

}

header{
  margin-bottom: 30px;
}

.tag{
  font-size: 14px;
  font-weight: bold;

}
h1{
  margin-bottom: 10px;
}

.indicadores{
  display: flex;
  gap: 16px;
}

.indicadores article{
  flex: 1;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.indicadores strong{
  display: block;
  font-size: 30px;
}

.indicadores span{
  color: #555;
}

.flujo{
  margin-top: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}